html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally, 100% font size is 16px, we want 10px, so use 62.5% */
}

header {
  height: 20vh;
  font-size: 5rem;
}

img {
  height: 3rem;
}

.about {
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-col {
  background-color: blue;
  height: 90%;
  width: 50%;
}
