html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally, 100% font size is 16px, we want 10px, so use 62.5% */
  font-family: "Lato", sans-serif;
}

body {
  background-color: #2a9d8f;
}

header {
  height: 20vh;
  width: 100vw;
  margin: 3rem auto;
  font-size: 7rem;
  text-align: center;
  color: #ffba08;
}

h1 {
  font-size: 10rem;
}

.startup-animation {
  width: 1rem;
  position: absolute;
  opacity: 0%;
  left: 0%;
  animation: startup-animation 3s;
}

.startup-animation-image {
  width: 100%;
}

.startup-animation-text {
  font-size: 7rem;
  width: 100%;
  background-color: #fc7a57;
  text-align: center;
}

.pawn-animation {
  height: 10rem;
  width: 10rem;
  position: absolute;
  animation: white-pawn 2s infinite;
}

.white-pawn {
  animation: white-pawn 2s infinite;
}

.black-pawn {
  animation: black-pawn 2s infinite;
}

@keyframes startup-animation {
  0% {
    width: 50vw;
    opacity: 0%;
    z-index: 3;
    left: 25%;
    top: 10%;
  }
  50% {
    width: 50vw;
    opacity: 100%;
    z-index: 3;
    left: 25%;
    top: 10%;
  }
  100% {
    width: 50vw;
    opacity: 0%;
    z-index: 3;
    left: 25%;
    top: 10%;
  }
}

@keyframes white-pawn {
  0% {
    left: 10%;
    top: 10%;
    transform: rotate(0.035turn);
  }
  50% {
    left: 30%;
    top: 10%;
    transform: rotate(-0.035turn);
  }
  100% {
    left: 10%;
    top: 10%;
    transform: rotate(0.035turn);
  }
}

@keyframes black-pawn {
  0% {
    right: 10%;
    top: 10%;
    transform: rotate(-0.035turn);
  }
  50% {
    right: 30%;
    top: 10%;
    transform: rotate(0.035turn);
  }
  100% {
    right: 10%;
    top: 10%;
    transform: rotate(-0.035turn);
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 85vw;
}

.gallery-image-box {
  border: 3px solid black;
  box-shadow: 2rem 2rem 2rem #1d6960;
  width: 26vw;
  height: 26vw;
  position: relative;
  background-color: #fc7a57;
}

.gallery-image {
  width: 100%;
  transition: all 0.3s;
}

.gallery-image:hover {
  width: 110%;
  position: absolute;
  transform: translate(-5%, -5%);
  filter: invert(50%);
}

.top-middle-pawn {
  width: 100%;
  position: absolute;
  transition: all 0.3s;
}

.top-middle-pawn:hover {
  opacity: 0%;
}

.top-middle-pawn-div:hover {
  background-image: url(media/chess-queen.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.top-left-pawn:hover {
  transform: rotate(0.25turn);
}

.top-right-pawn:hover {
  animation: top-right-pawn 3s;
}

@keyframes top-right-pawn {
  0% {
    width: 100%;
  }
  100% {
    width: 700%;
  }
}

.bishop-image {
  width: 100%;
  transition: all 0.5s;
}

.bishop-image:hover {
  width: 60%;
  position: absolute;
  transform: rotate(-0.25turn);
  bottom: 0rem;
  left: 20%;
  filter: invert(50%);
  padding: 25vw 25vw;
}

.bishop-div:hover {
  background-image: url(media/pope-anime.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.knight-image {
  width: 100%;
  transition: all 0.5s;
}

.knight-image:hover {
  filter: invert(50%);
  animation: knight 3s;
}

@keyframes knight {
  0% {
    width: 100%;
  }
  100% {
    width: 1%;
    margin-left: 49.5%;
    margin-top: 49.5%;
  }
}

@media (max-width: 1024px) {
  html,
  body,
  * {
    font-size: 60%;
  }

  .gallery-image-box {
    width: 51vw;
    height: 51vw;
    margin-bottom: 5vh;
  }
}

@media (max-width: 768px) {
  html,
  body,
  * {
    font-size: 60%;
  }

  .white-pawn {
    animation: none;
    height: 0vw;
    width: 0vw;
  }

  .black-pawn {
    animation: none;
    height: 0vw;
    width: 0vw;
  }
}

@media (max-width: 390px) {
  html,
  body,
  * {
    font-size: 55%;
  }

  .white-pawn {
    animation: none;
    height: 0vw;
    width: 0vw;
  }

  .black-pawn {
    animation: none;
    height: 0vw;
    width: 0vw;
  }

  .gallery-image-box {
    width: 75vw;
    height: 75vw;
    margin-bottom: 5vh;
  }

  .startup-animation-text {
    font-size: 4rem;
  }
}
